//colors
    $mainBGColor: white;
    $underliveColor: #222;
    $textColor: blue;
    $borderColor: gray;

//fonts
    $mainFont: 'Open Sans', Helvetica, sans-serif;

//animation
    $animationDuration: 3s;