//colors
    $mainBGColor: white;
    $underliveColor: #222;
    $textColor: blue;
    $borderColor: gray;

//fonts
    $mainFont: 'Open Sans', Helvetica, sans-serif;

//animation
    $animationDuration: 3s;

//resolutions
    $desktop: 1280px;
    $laptop: 980px;
    $tablet: 768px;
    $smartphone: 480px;
    $phone: 320px;