.container {
    width: 98%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid $borderColor;
    border-radius: 20px;
}

.word__wrapper,
.word__underline {
    width: 10%;
}

.word__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 80vh;
    background-color: $mainBGColor;
    overflow: hidden;
}

.word__underline {
    height: 10px;
    background-color: $underliveColor;
    opacity: 0;
    animation: .5s linear infinite alternate blink;
}

@keyframes blink {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.word__letter {
    color: $textColor;

    font: {
        size: 72px;
        weight: bold;
    }

    // fade-in effect, duration 3 sec
    animation: 3s linear fade-in;
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}