.container {
    width: 98%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid $borderColor;
    border-radius: 20px;
}

.word__wrapper,
.word__underline {
    width: 60px;
}

.word__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 80vh;
    background-color: $mainBGColor;
    overflow: hidden;
}

.word__underline {
    height: 10px;
    background-color: $underliveColor;
    animation: blink .7s steps(2, start) infinite;
    border-radius: 2px;
}

//animation of cursor blinking
@keyframes blink {
    to {
        visibility: hidden
    }
}

.word__letter {
    color: $textColor;

    font: {
        size: 72px;
        weight: bold;
    }

    // fade-in effect, duration 3 sec
    animation: $animationDuration linear fade-in;
}

//animation of lettes (fade-in)
@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}